dist: xenial

language: go

go:
  - 1.13.x

env:
  - GO111MODULE=on

before_install:
  - sudo apt-get update
  - sudo apt-get -y install unzip

go_import_path: github.com/OpenLiberty/open-liberty-operator

services:
  - docker

stages:
  - name: test
  - name: build
    if: branch = master AND fork = false AND type != pull_request
  - name: build manifest
    if: branch = master AND fork = false AND type != pull_request

jobs:
 include:
  - name: Unit testing
    stage: test
    script: make unit-test
  - name: Verify operator image build
    script: make build-image
    if: branch != master OR fork = true OR type = pull_request
  - name: E2E testing on Minikube
    script: make test-minikube
  - name: E2E testing on OCP 4.3 with Open Liberty
    script: make test-e2e
    env: LIBERTY_IMAGE="openliberty/open-liberty:kernel-java8-openj9-ubi"
    if: fork = false
  - name: E2E testing on OCP 4.3 with WebSphere Liberty
    script: make test-e2e
    env: LIBERTY_IMAGE="ibmcom/websphere-liberty:kernel-java8-ibmjava-ubi"
    if: fork = false
  ## if master branch build and push image for amd64,ppc64le,s390 to DH
  - name: Build image on amd64
    stage: build
    os: linux
    script:
      - make build-multiarch-image
      - make build-manifest
  - name: Build image on ppc64le
    os: linux
    arch: ppc64le
    script:
      - make build-multiarch-image
      - make build-manifest
  - name: Build image on s390x
    os: linux
    arch: s390x
    script:
      - make build-multiarch-image
      - make build-manifest
  ## in case there were concurrency issues with building manifest lists
  ## in previous steps, create FAT manifest on last time
  - name: Verify manifest lists
    stage: build manifest
    script: make build-manifest
