apiVersion: apps.openliberty.io/v1
kind: OpenLibertyApplication
metadata:
  name: openliberty-app-sample
spec:
  applicationImage: icr.io/appcafe/open-liberty/samples/getting-started@sha256:752fe4e5133dd87c7266142cd1b954a2a96b08c077cecb10e91e1070e8276921
  expose: true
  manageTLS: true
  replicas: 1
  serviceAccount:
    mountToken: true
